.todo-list-item {
  display: flex;
  justify-content: normal;
  padding: 6px 0;
}

.todo-list-title {
  border: 1px solid #1a202c;
  padding: 7px 10px;
  margin: 0 2px 0 0;
}

.todo-list-button {
  cursor: pointer;
  border: 1px solid #1a202c;
  padding: 7px 10px;
  min-width: 36px;

  background: transparent;

  transition: all 0.1s ease-in;
}

.todo-list-button:hover {
  background: #1a202c;
  color: #ffffff;
}
